@font-face {
  font-family: myFirstFont;
  src: url(imperfecta.ttf);

}
body{
	background-color: rgb(31, 31, 31);
	color:rgb(202,202,202);
	font-family: myFirstFont;
	margin:25px;
}

.title, footer{
	font-size: 60px;
	font-weight: 900;
	letter-spacing: -1px;

	margin:5px;
	padding:10px;
}
.left{
	font-weight: initial !important;
    font-size: initial !important;
	letter-spacing: initial !important;
	margin-right:5px;
}

.synonym{
	list-style-type: none; 
}

.row{
	display:inline-flex;
}

body{ 
	display:flex; 
	flex-direction:column; 
}


footer {
	clear: none;
}

